---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
$(document).ready(function() {
	var number = 0;
	$("#next").click(function(){
		$(".slide" + number).slideUp();
		$(".menu" + number).removeClass('current');
		$(".slide" + (number + 1)).slideDown();
		$(".menu" + (number + 1)).addClass('current');

		if (number === 2){
			$("#next").css('transform', 'rotate(180deg)');
		}

		if (number === 3){
			$(".slide3").slideUp();
			$(".menu3").removeClass('current');
			$(".slide0").slideDown();
			$(".menu0").addClass('current');
			$("#next").css('transform', 'rotate(0deg)');

			number = -1;
		}

		number += 1;
	});

	$(".menu0").click(function() {
		$(".slide" + number).slideUp();
		$(".menu" + number).removeClass('current');
		$(".menu0").addClass('current');
		$(".slide0").slideDown();

		number = 0;

		$("#next").css('transform', 'rotate(0deg)');
	});

	$(".menu1").click(function() {
		$(".slide" + number).slideUp();
		$(".menu" + number).removeClass('current');
		$(".menu1").addClass('current');
		$(".slide1").slideDown();

		number = 1;

		$("#next").css('transform', 'rotate(0deg)');
	});

	$(".menu2").click(function() {
		$(".slide" + number).slideUp();
		$(".menu" + number).removeClass('current');
		$(".menu2").addClass('current');
		$(".slide2").slideDown();

		number = 2;

		$("#next").css('transform', 'rotate(0deg)');
	});

	$(".menu3").click(function() {
		$(".slide" + number).slideUp();
		$(".menu" + number).removeClass('current');
		$(".menu3").addClass('current');
		$(".slide3").slideDown();

		number = 3;

		$("#next").css('transform', 'rotate(180deg)');
	});
});

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<header>
  <ul>
    <li class="current menu0">HOME</li>
    <li class="menu3">CONTACT</li>
  </ul>
</header>

<div id="slides">
  <nav>
    <i class="fa fa-chevron-circle-down" id="next"></i>
  </nav>

  <div class="slide slide0">

    <div id="title">
      <h2>Hello, I am</h2>
      <h1>Azmat</h1>
      <h2>And I'm a Web Developer</h2>
    </div>
  </div>
  
  <div class="slide slide1">
    <h1>About</h1>

	 			
  </div>
	 		
  <div class="slide slide2">
	 	<h1>Projects</h1>
		 <h2>A few things I made:</h2>
  </div>
	 		
  <div class="slide slide3">
	 	<h1>Contact</h1>
 		<h2>You can find me on the internet here:</h2>
				
    <ul>
					<a href="mailto:leongrasmeijer@gmail.com"><li>
	 				<i class="fa fa-envelope"></i> Mail
	 			</li></a>
	 			<a href="https://codepen.io/LeonGr/"><li>
	 				<i class="fa fa-codepen"></i> Codepen
	 			</li></a>
	 			<a href="https://github.com/LeonGr"><li>
	 				<i class="fa fa-github"></i> Github
	 			</li></a>
		</ul>

   </div>
</div>

<footer>
  <p class="copy">Azmat Ali Cheema 2023</p>

	<div id="links">
    <a href="mailto:leongrasmeijer@gmail.com"><i class="fa fa-envelope"></i></a>
    <a href="https://codepen.io/LeonGr/"><i class="fa fa-codepen"></i></a>
    <a href="https://github.com/LeonGr"><i class="fa fa-github"></i></a>
	</div>
</footer>